<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palomamobile.android.sdk.datatracking.sampleApp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="22" />

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true">

        <meta-data android:name="com.palomamobile.android.sdk.ClientId" android:value="@string/palomamobile_client_id"/>

        <!-- Configure ServiceSupport -->
        <meta-data android:name="com.palomamobile.android.sdk.Endpoint" android:value="@string/paloma_test_endpoint"/>
    </application>

</manifest>
